<mat-card class="delete-card" *ngIf="!enableCreate">
  <div align="center">
    <button mat-button class="dialog-button" (click)="enableCreateCard()">Create a new Note</button>
  </div>
</mat-card>
<mat-card class="delete-card" *ngIf="enableCreate && !showCheckListCreate">
  <mat-card-content>
    <mat-form-field class="example-full-width" floatLabel="always">
      <input matInput placeholder="Title" required [(ngModel)]="note.title">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" class="input-field" [(ngModel)]="note.text"></textarea>
    </mat-form-field>

    <mat-form-field class="chip-input">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let label of labels" (removed)="remove(label)">
          {{label.text}}
          <mat-icon matChipRemove></mat-icon>
        </mat-chip>
        <input matChipInput placeholder="Labels" [matChipInputFor]="chipList" (matChipInputTokenEnd)="add($event)" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur">
      </mat-chip-list>
    </mat-form-field>
    <div class="pinned-field">
      <mat-checkbox [(ngModel)]="note.isPinned">Pin this card</mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-button class="dialog-button" (click)="cancelCreate()">Cancel</button>
    <button mat-button class="dialog-button" (click)="showCheckList()">Next ></button>
  </mat-card-actions>
</mat-card>
<mat-card class="delete-card" *ngIf="enableCreate && showCheckListCreate">
  <mat-card-content>
    <mat-form-field class="chip-input" *ngFor="let checklistItem of checkList">
      <input matInput placeholder="New checklist item" [(ngModel)]="checklistItem.text">
    </mat-form-field>
    <button mat-flat-button (click)="addCheckListItem()">Add a Checklist Item</button>
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-button class="dialog-button" (click)="showCreateNote()">Prev</button>
    <button mat-button class="dialog-button" (click)="onSaveButtonClick()">Save</button>
  </mat-card-actions>
</mat-card>
