.dialog-button {
  color: #ffffff;
  background-color: #35dcca;
  width: fit-content;
  margin: auto;
}

.delete-card {
  max-width: 33vw;
  max-height: 400px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #7c838b;
  align-content: center;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-panel-title, mat-card-title, h4, h6, h5 {
  color: #35dcca;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.pinned-field {
  width: 100%;
  text-align: left;
}

.chip-input {
  width: 100%;
}
